
[Desktop Entry]
Version=1.2
Type=Application
Exec=AvoPlot.py
Comment=Plot DOAS spectra
NoDisplay=false
Categories=Science;Education;Geology;
Icon=avoplot
Name=AvoPlot
Comment[en_GB.utf8]=Analyse spectral data
